@font-face {
    font-family: 'Pixel';
    src: url('assets/Pixel-LCD-7.woff') format('woff');
  }

  

*{
    color: #666;
    font-family: Pixel, Arial, Helvetica, sans-serif;
  }

main {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.title {
  margin: 26px 0;
}

.btn-start > button {
  border-radius: 10px;
  background-color: skyblue;
  padding: 4px 40px;
}


.btn-start > button:hover {
  opacity: 0.8;
}

.btn-move-mobile{
  display: none;
}

@media (max-width: 768px) {
  main {
    align-items: center;
  }

  .status {
    display: flex;
  }

  .title {
    margin: 4px 0;
  }

  .btn-start > button {
    padding: 4px;
  }

  .btn-move-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-move-mobile button {
    border-radius: 10px;
    padding: 12px 20px;
    margin: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    background: rgba(43,48,93, 0.8);
    user-select: none;
    border: 4px solid;
    border-top-color: rgba(43,48,93, 1);
    border-right-color: rgba(43,48,93, 1);
    border-bottom-color: rgba(43,48,93, 0.1);
    border-left-color: rgba(43,48,93, 0.3);
  }

  .btn-move-mobile button:hover {
    opacity: 0.6;
  }

  .btn-middle > button {
    margin: 0 30px;
  }  
}